.chat-container {
    background-color: #F4F4F4;
    padding-top: 25px;
}

@media (max-width: 768px) {
    .chat-container {
        padding-left: 0;
        padding-right: 0;
    }
}

ul {
    padding-left: 0;
}

.message-container {
    display: block;
    clear: both;

    p.message {
        background-color: #FFF;
        padding: 12px;
        display: inline-block;
        position: relative;
        box-shadow: 1px 1px 3px rgba(0,0,0,.3);
        border-radius: 0 5px 0 5px;

        &.mine {
            background-color: #25ABB0;
            float: right;
            color: white;
            font-style: italic;

        }

        @media (min-width: 768px) {
            max-width: 80%;
        }
    }
}

.emoji {
    width: 20px;
}

.shortcut {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 5px;

    a {
        background-color: #25ABB0;
        display: block;
        border-radius: 20px;
        font-weight: bold;
        color: white;
        padding: 5px 8px;
        opacity: .6;
    }

    a:hover, a:focus {
        text-decoration: none;
        opacity: 1;
    }
}

