/**
Credits to James Barnett https://codepen.io/jamesbarnett
 */

/****** Style Star Rating Widget *****/

.message-container > .message.stars {
    border: none;
    float: left;
}

.stars {
    > .skill {
        white-space: nowrap;
        padding: 0 12px;
        margin-right: 10px;

        > span {
            display: inline-block;
            min-width: 50%;
            margin-right: 20px;
        }

        > label {
            color: #FFD700;

            &:before {
                margin: 5px;
                font-size: 1.25em;
                font-family: FontAwesome;
                display: inline-block;
                content: "\f005";
            }

            @media (max-width: 768px){
                font-size: .8em;
            }
        }

        > .half:before {
            content: "\f089";
        }

        @media (max-width: 768px){
            padding: 0;
        }
    }
}
